@font-face{
	font-family: 'Lato-regular';
	src: url('../assets/font/Lato/Lato-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'OpenSans-regular';
	src: url('../assets/font/OpenSans/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-color: #fdfffcff;
}

.udl {
    display: inline;
    background-image: linear-gradient(#f1d302ff, #f1d302ff);
    background-size: 0% 2px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: background .5s ease-out;
}

.udl:hover {
    background-size: 100% 2px;
}

/* -------------------------------- Scrollbar ------------------------------- */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #020100ff;
}

::-webkit-scrollbar-thumb {
    background: #f1d302ff;
}

::-webkit-scrollbar-thumb:hover {
    background: #fdfffcff;
}

/* --------------------------------- Navbar --------------------------------- */
.navbar {
    height: 80px;
    background-color: transparent !important;
    transition: all .4s ease;
}

.nav-link {
    font-size: 20px;
}

.navbar-colored {
    background-color: #020100ff !important;
}

.navbar-transparent {
    background-color: transparent !important;
}

.d-menu {
    background-color: #020100ff !important;
}


.app-bar-menu a {
    font-size: 14px !important;
    color: #fdfffcff !important;
}

/* ---------------------------------- Poster ---------------------------------- */
.poster {
    background: url("../assets/img/bg1.jpg")no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 650px;
    margin-bottom: 0;
    filter: background brightness(60%);
}

.poster .container {
    color: white;
    padding-top: 100px;
}

.home h2 {
    margin-bottom: 0;
    text-shadow: 3px 3px 2px black;
    color: #fdfffcff !important;
}

.home h1 {
    display: inline-block;
    font-size: 64px;
    font-weight: bold !important;
    text-shadow: 3px 3px 2px black;
    color: #fdfffcff !important;
    margin-top: 0;
    margin-bottom: 0;
}

html:hover .home .udl {
    background-size: 100% 35px;
}

.home .udl {
    background-size: 0% 35px;
    background-position: 0% 100%;
    transition: background 1s ease-in-out;
}

.home .lead {
    background-color: black;
    display: inline-block;
    padding: 8px;
    font-size: 30px;
    letter-spacing: 5px;
}

/* List Product */
.card {
    min-height: 250px;
    margin-top: 30px;

}

.card:hover {
    border: 1px solid black !important;
}

.card-header {
    min-height: 180px !important;
    border-bottom: none !important;
}

a {
    color: black !important;
}

.image {
    width: 70%;
    margin: 0 auto !important;
}

.detail {
    margin: 0 auto;
    text-align: center;
}
.list-product:hover .udl{
    background-size: 100% 2px;
}

/* Product */
.controls-top .btn{
    border: solid 1px #646771;
    color: #646771;
    margin: 5px;
}
.controls-top .btn:focus{
    box-shadow: 0px 0px 5px #646771;
}
.controls-top .btn:hover{
    border: solid 1px #141414;
    color: #141414
}
.product .container{
    margin-top: 75px;
    margin-bottom: 75px;
}

.product .udl {
    background-size: 0% 22px;
    background-position: 0% 100%;
    transition: background 1s ease-in-out;
}
.product:hover  .udl {
    background-size: 100% 22px;
}
.product h3{
    margin-top: 25px;
}

.product h6{
    letter-spacing: 2px;
}
.product .card-img-top{
    height: 300px;
    width: 300px;
    margin: auto;
}
.product .carousel{
    border:  solid 1px #141414;
}
.product .card{
    border:  none;
    background-color: transparent;
}
.product .card-body {
    padding-top: 0px;
}

.product .poster{
    background-position: 100% 0% !important;
}

.back-element {
    background-size: 45% 100% !important;
}
  
.back-element:hover {
    background-size: 0% 100% !important;
}

.product img{
    filter: drop-shadow(2px 2px 3px #222);
}








/* Footer */
.footer{
    padding: 2% 7%;
    color: #646771;
    background-color: #141414;
}

.footer .brand-logo{
    max-width: 60px;
    max-height: 60px;
    margin : auto 0px

}
.footer .company-brand h1{
     color: #f1d302ff;
     margin-left: 10px;
     border-left: 2px solid rgba(189, 196, 203, 0.5);
     padding-left: 10px;
     font-family: 'Lato-regular';
     font-weight: bold;
} 
.footer .company-brand h1 span{
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color: #f1d302ff;
    cursor: pointer
}


.social i {
    padding: 1%;
    margin-right: 5px;
    font-size: 20px
}

.social i:hover {
    color:#f1d302ff;
    cursor: pointer
}

.heading {
    color: white
}

.line {
    border-top: 2px solid #f1d302ff;
}
.footer h6{
    transition: all .5s ease;
}
.footer:hover h6{
    color: #f1d302ff;
}
.footer-content:hover .heading {
    background-size: 100% 2px;
}
.footer p{
    margin-top: 0;
}